.App {
  width: 100%;
  max-width: 320px;
  padding: 54px 0;
}

.error-message {
  color: #fa34f3;
}

.loading {
  color: white;
}

@media only screen and (min-width: 640px) {
  .App {
    max-width: 640px;
  }
}
